RewriteEngine On

# Redirect all requests to the public directory
RewriteCond %{REQUEST_URI} !^/php-sandbox/php_dav/public/
RewriteRule ^(.*)$ /php-sandbox/php_dav/public/$1 [L]

# Prevent directory listing
Options -Indexes 